.up{
background-image:url(images/up6.png);
}
.con{
background-image:url(images/consult.png);
}
.per{
background-image:url(images/per.png);
}
.gro{
background-image:url(images/gro.png);
}
.mng{
background-image:url(images/mng.png);
}
.set{
background-image:url(images/set.png);
}
.p{
background-image:url(images/p.png);
}
.g{
background-image:url(images/g.png);
}
.info{
background-image:url(images/info.png);
}
.gr{
background-image:url(images/gr.png);
}
#div1
{
border:solid 2px #4169E1;
position:absolute;
left:500px;
top:150px;
z-index:1;
}
#div_cs{
	position:absolute;
	right:20px;
	top:5px;
}
 
table
{
text-align:center;
width:400px;
height:250px;
}
#entry
{
text-decoration:none;
}
#text
{
position:absolute;
top:28px;
left:0px;
}